html,body{height: 100%}
.nanny-container{height: 100%;}

.nanny-sidebar{
    height: 95%;
    padding: 5px;
    background-color: #bbd8e9;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.nanny-content{
    height: 95%;
    padding: 5px;
    background-color: #dceaf4;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

#calendar {
    margin: 5px;
}

.show-grid {
    height: 60px;
}

.show-grid [class*="span"] {
    background: #EEE;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    line-height: 60px;
    margin-top: 5px;
}

.span-one-five {
    width: 18%;
    font-size: 20px
}

.clearfix input {
    height:30px;
}

.span8{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9em;
    margin-left: -15em;
    background-color: #FEFBF3;
    border: 1px solid #DDD;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn.prems{

    color: white;
    background-color: #9370db;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#4B09E0), to(#9370db));
    background-image: -moz-linear-gradient(top, #4B09E0, #9370db);
    background-image: -ms-linear-gradient(top, #4B09E0, #9370db);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4B09E0), color-stop(100%, #9370db));
    background-image: -webkit-linear-gradient(top, #4B09E0, #9370db);
    background-image: -o-linear-gradient(top, #4B09E0, #9370db);
    background-image: linear-gradient(top, #4B09E0, #9370db);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4B09E0', endColorstr = '#9370db', GradientType = 0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #9370db #9370db #8D71DB;

}
